<div class="columns">
<div class="column">
    <app-card [name]="cardForm.get('name').value"
    [expiration]="cardForm.get('expiration').value"
    [cardNumber]="cardForm.get('cardNumber').value"></app-card>
</div>
<div class="column"></div>
<form [formGroup] = "cardForm" (ngSubmit)="onSubmit()">
    <app-input label="Name" [control]="cardForm.controls.name" ></app-input>
    <app-input label="Card Number" [control]="cardForm.controls.cardNumber" ></app-input>
    <div class="columns">
        <div class="column">
            <app-input label="Expiration" [control]="cardForm.controls.expiration" ></app-input>
        </div>
        <div class="column">
            <app-input label="Security Code" [control]="cardForm.controls.securityCode" ></app-input>
        </div>
    </div>
    <div class="buttons">
        <button class="button is-primary" type="submit" [disabled]="cardForm.invalid">Submit</button>
        <button class="button is-warning" type="button" (click)="onReset()">Reset</button>
    </div>

</form>
</div>
