<form [formGroup] = "cardForm">
    <app-input label="Name" [control]="cardForm.controls.name" ></app-input>
    <app-input label="Card Number" [control]="cardForm.controls.cardNumber" ></app-input>
    <app-input label="Expiration" [control]="cardForm.controls.expiration" ></app-input>
    <app-input label="Security Code" [control]="cardForm.controls.securityCode" ></app-input>

</form>

<!-- for debugging -->

<div>{{ cardForm.value | json }}</div>
<div>{{ cardForm.valid }}</div>

<!-- behind scene error name for validators -->

<div>{{ cardForm.get('name').errors | json }}</div>